body {
    font-family: "Arial", sans-serif
}
.navMenu {
    height: 30px;
    padding: 20px 18px 18px;
    color: #ffffff!important;
    background-color: #425bd8!important;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.navItem {
    color: #ffffff!important;
    padding: 12px 16px!important;
    line-height: 1.5;
    
}
.navItem:hover{
    color: #ffffff!important;
    background-color: #253582!important;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.formNav {
    text-align: center;
    margin-top: 40px;
}
.formNav .button-large {
    color: #ffffff!important;
    background-color: #425bd8!important;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 30px 15px;
    border: none;
}
.formNav .button-large:hover {
    color: #ffffff!important;
    background-color: #253582!important;
    cursor: pointer;
}
.formNav .button-disabled {
    color: #ffffff!important;
    background-color: #757886!important;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 30px 15px;
    border: none;
}
.team {
    margin-top: 72px;
    text-align: center;
}

textarea, input {
    width:300px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.terms-conditions {
    text-align: left;
    margin-bottom: 50px;
}

.signature {
    padding: 10px;
}

.required {
    color: red;
}

.section {
    margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #425bd8;
    text-align: left;
    padding: 15px;
}

th {
    background-color: #425bd8;
    color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #98a3da;
    color: #000000;
}

.button-normal {
    background-color: #425bd8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

.button-normal:hover {
    color: #ffffff!important;
    background-color: #253582!important;
    cursor: pointer;
}

#searchTool {
    margin-top: 50px;
}

#searchTool input {
    padding: 10px;
}